# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Files\z3tb0t\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
